@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Teko:wght@600&display=swap');
@import '/src/styles/utils/variables.scss';

body {
    font-family: 'Monoton', sans-serif;
    background: $bg-site !important;
    color: #fff;
}

h1, h2, h3, h4, h5, h5, p, div{ color: #fff;}
