@import 'variables';

.navbar {
  background-color: $primary-color; 
  transition: background-color 0.3s;

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  &.shrink {
    background-color: $secondary-color; 
  }

  .navbar-toggler-icon {
    background-color: white;
  }
}
